/.vscode
/oop/*.exe
/sinh/*.exe
/quaylui/*.exe
/thamlam/*.exe
/oop_main/*.exe
/dslk/*.exe
/queue/*.exe
/two_pointer/*.exe
/a/*.exe
/b/*.exe
/c/*.exe
/d/*.exe
/e/*.exe
/f/*.exe
/g/*.exe
/h/*.exe
/stack/*.exe
/file/*.exe
